a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}

#app .content .opera-box .button {
  margin: 0px 5px;
}

#app .modal-box {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}

#app .modal-box .alert-box {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
  height: 100px;
  background-color: #FFF;
  border-radius: 10px;
  text-align: center;
}

#app .modal-box .alert-box p {
  text-align: center;
}

#app .modal-box .alert-box button {
  width: 100px;
  display: inline-block;
}
